@media only screen and (min-width: 0) and (max-width: 319px) {
  /* Title */
  .T-15 {
    margin-left: 50px;
  }
  .AR-20 {
    width: 300px;
    margin: 40px 20px 0px 20px;
    font-size: 12px;
  }
  .avatar {
    width: 80px;
    height: 80px;
    top: -20px !important;
    left: -80px !important;
  }
  /* Tasto CV */
  #CV {
    padding: 10px;
  }
  /* end About */

  /* Pag Service */
  .cont-service {
    margin-top: 200px;
    left: calc(80% - 75%);
  }

  .ciao {
    width: 100%;
    height: 230px;
  }
  .ciao h3 {
    font-size: 20px;
  }

  .cont-description {
    width: calc(100% - 30px);
    height: 250px;
    background: #181a1dfa;
    overflow: hidden;
  }
  .cont-inf h2 {
    font-size: small;
    font-family: sans-serif;
  }
  .cont-inf p {
    font-size: 9px;
  }
  .cont-fig {
    width: 300px;
    height: 230px;
    top: -165px;
    left: 29px;
  }

  /* Pag-Project */

  .Project p {
    font-size: 12px;
  }
  /* Skills */
  .row-S {
    gap: 20px;
    margin: 25px;
  }
  .BT-S10 {
    width: 105px;
    height: auto;
    font-size: 10px;
    font-size: 8px;
    padding: 10px;
  }

  .Skill-1 {
    gap: 20px;
  }
  .skillIco {
    margin: 20px 0 0 2px;
  }

  .img-ico {
    width: 50px;
    height: 50px;
    margin: 10px;
    transition: 0.5s;
  }

  .img-ico:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
  /* Contact */

  #CT-2 {
    margin-left: 0;
    margin-top: 70px;
  }

  .C-16 i {
    font-size: 15px;
    margin: 10px 0 10px 5px;
  }

  .C-16 h6 {
    font-size: 15px;
  }
  .C-16 p {
    font-size: 7px;
  }

  .F-contact {
    margin-top: 0;
  }
}
@media only screen and (min-width: 320px) {
  /* Header */
  .s-5 {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .s-5 img {
    margin-top: 50px;
    width: 200px;
  }
  span p.p-1 {
    display: none;
  }
  /* Logo */
  .logo h1 {
    font-size: 50px;
  }
  .logo p {
    right: 6px;
    font-size: 13px;
    letter-spacing: 4px;
  }
  /* Box Social SideBar */
  .L-S {
    height: 90px;
    display: flex;
    position: relative;
  }
  /* about us */
  .aboutUS {
    justify-content: unset;
    align-items: unset;
  }
  .avatar {
    top: unset;
    left: unset;
    width: 115px;
    height: 115px;
  }
  .AR-20 {
    margin: 120px 20px 0px 20px;
  }

  .T-15 {
    margin-top: 120px;
    font-size: 35px;
    padding: 5px;
  }

  /* Service */
  .cont-service {
    grid-template-columns: repeat(1, auto);
    margin-top: 50px;
    gap: 170px;
  }
  .ciao h3 {
    font-size: 20px;
  }

  .cont-serv {
    gap: 400px;
    display: flex;
    flex-grow: 1;
  }

  .cont-inf p {
    margin-left: -10px;
    margin-top: 20px;
    font-weight: 700;
    margin-right: 10px;
  }
  .about-clientSide--cont {
    margin: 50px 8px;
    padding: 10px;
  }
  /* Contact */
  .F-contact {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.49);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3.5px);
    width: auto;
    height: auto;
    padding: 5px;
  }
  .inp-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    bottom: 100px;
    left: 100px;
  }
  #inp-c2 {
    align-items: unset;
  }
  .inp-row {
    display: flex;
    flex-direction: row;
  }
  .inp-contact input,
  textarea,
  button {
    /* background: linear-gradient(to top, #20252d 60%, #3d4556 100%); */
    background: none;
    border-bottom: 4px solid #3d4556;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    color: #04a2e0;
    border: 0 0 0 0;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    font-family: sans-serif;
    margin: 20px;
    transition: 0.5s;
  }
  .inp-contact button {
    width: 150px;
    background: linear-gradient(to top, #20252d5c 60%, #3d45564f 100%);
    border: none;
  }
  .inp-contact button:hover {
    background: linear-gradient(to top, #20252d77 60%, #3d45567b 100%);
    box-shadow: 2.5px 2.5px #00000090;
    cursor: pointer;
  }
  .C-16 {
    background: linear-gradient(to top, #191d2499 60%, #090a0cbd 100%);
    margin: 20px 10px 0px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .C-16 i {
    margin: 10px 0 10px 5px;
  }
  .C-16 h6 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    margin: 10px;
    color: #b5b5b5;
  }
  .C-16 p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    margin: 0 0 10px 0;
    color: #b5b5b5;
  }
  /* Footer */
  .element-cont {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
  }
  .element2 {
    justify-content: unset;
    align-items: unset;
  }
  .element-group {
    display: none;
  }
  .element-group2 {
    display: block;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* Title */
  .T-15 {
    margin-left: 50px;
  }
  .AR-20 {
    width: 250px;
    font-size: 12px;
  }
  /* Tasto CV */
  #CV {
    padding: 10px;
  }
  /* end About */

  /* Pag Service */
  .cont-service {
    margin-top: 200px;
    left: calc(80% - 75%);
    gap: 250px !important;
  }

  .ciao {
    width: 100%;
    height: 230px;
  }
  .ciao h3 {
    font-size: 20px;
  }

  .cont-description {
    width: calc(100% - 30px);
    height: 250px;
    background: #181a1dfa;
    overflow: hidden;
  }
  .cont-inf h2 {
    font-size: small;
    font-family: sans-serif;
  }
  .cont-inf p {
    font-size: 9px;
  }
  .cont-fig {
    width: 300px;
    height: 280px;
    top: -165px;
    left: 29px;
  }

  /* Pag-Project */

  .Project p {
    font-size: 12px;
  }
  /* Contact */

  #CT-2 {
    margin-left: 0;
    margin-top: 70px;
  }

  .C-16 i {
    font-size: 15px;
    margin: 10px 0 10px 5px;
  }

  .C-16 h6 {
    font-size: 15px;
  }
  .C-16 p {
    font-size: 7px;
  }

  .F-contact {
    margin-top: 50px;
  }

  #inp-c1 {
    display: none !important;
  }
  .inp-row {
    display: flex;
    flex-direction: row;
  }
  .inp-col {
    display: flex;
    flex-direction: column;
  }

  .inp-contact input,
  textarea,
  button {
    width: clac(100% - 50px);
    font-size: 12px;
  }
}
@media only screen and (min-width: 481px) {
  /* header */
  .s-5 {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .s-5 img {
    margin-top: 50px;
    width: 300px;
  }
  .subHeader h2 {
    font-size: 42px;
  }
  /* Logo */

  .contAbout {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }
  .contAbout img {
    max-width: 100%; /* Assicura che l'immagine non superi la larghezza del suo contenitore */
    height: auto; /* Imposta l'altezza automaticamente in base alla larghezza per mantenere le proporzioni originali */
    display: block; /* Imposta l'immagine come blocco per evitare spazi extra */
    margin: 0 auto; /* Centra l'immagine orizzontalmente */
  }

  /* Service */

  .cont-inf p {
    font-size: 10px;
  }
  .cont-fig {
    top: 18px;
    left: 183px;
  }
  .about-clientSide--cont {
    padding: 50px;
  }
  /* End Service */
  /* Project */
  .Project p {
    font-size: 12px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: 700;
  }
  /* End Project */
  /* Contact */
  #CT-2 {
    margin-top: 110px;
  }

  #inp-c2 {
    display: none !important;
  }

  .C-16 i {
    font-size: 30px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* About */
  .T-15 {
    margin-left: 70px;
    margin-top: 120px;
    font-size: 35px;
    padding: 5px;
  }
  .AR-20 {
    font-size: 12px;
    width: 430px;
  }
  /* end About */

  /* Pag Service */
  .cont-service {
    margin-top:100px;
    left: calc(80% - 70%);
  }
  .ciao {
    width: 350px;
    height: 230px;
  }
  .cont-description {
    width: 350px;
    height: 250px;
  }

  .cont-inf h2 {
    font-size: x-large;
  }

  .cont-fig {
    width: 250px;
    height: 230px;
    top: -135px;
    left: 208;
    z-index: 0;
  }

  /* Contact */

  #CT-2 {
    margin-left: 0;
  }

  .C-16 {
    width: 170px;
    height: 150px;
  }

  .C-16 h6 {
    font-size: 15px;
  }
  .C-16 p {
    font-size: 10px;
  }

  .F-contact {
    margin-top: 0;
  }

  .inp-row {
    display: flex;
    flex-direction: row;
  }

  .inp-contact input,
  textarea,
  button {
    font-size: 12px;
  }
  .inp-contact textarea {
    width: calc(100% - 50px) !important;
  }
}
@media only screen and (max-width: 769px) {
  .Menu {
    display: none;
  }
}
@media only screen and (min-width: 769px) {
  /* Menu */
  .Menu {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100px;
    background: rgba(46, 46, 46, 0.506);
    padding: 10px;
    z-index: 999;
  }
  .menu-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }
  /* Logo Menu-Bar */
  /* Logo */
  .logoS {
    position: relative;
    bottom: 24px;
  }
  .logoS h1 {
    color: #b5b5b5;
  }

  .logoS p {
    width: max-content;
    position: relative;
    right: 6px;
    font-size: 15px;
    font-family: monospace;
    letter-spacing: 10px;
    color: #686868;
  }
  .logoS span {
    color: rgb(0, 112, 255);
  }
  /* Link-menu */
  .NS-10 {
    position: relative;
  }

  .A-10 a:hover {
    color: rgb(0, 100, 139) !important;
    text-shadow: 0 10px 10px #0c7eb768, 0 0 30px #0c7eb75b, 0 2px 10px #0031d3a4;
  }

  #A-10 .A-10 a {
    font-size: 18px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-weight: 900;
    color: #b5b5b5;
    transition: 0.5s;
    display: flex;
  }
  /* About */
  .aboutUS {
    justify-content: center;
    align-items: center;
  }
  .T-15 {
    margin-left: 150px;
    font-size: 50px;
  }

  /* Avatar */
  .avatar {
    width: 115px;
    height: 115px;
  }
  /* end About */
  /* Pag service */
  .cont-service {
    margin-top: 100px;
  }
  .ciao {
    width: 400px;
    height: 230px;
  }

  .cont-description {
    width: 400px;
    height: 250px;
  }

  .cont-inf h2 {
    font-size: xx-large;
  }

  .cont-fig {
    height: 230px;
    left: 250px;
  }

  /* End Service */
  /* Pag Contact */

  .F-contact {
    margin: 100px;
  }

  .inp-contact input,
  textarea,
  button {
    font-size: 15px;
  }

  .inp-contact textarea {
    resize: none;
    width: 100%;
  }
  .about-clientSide--cont {
    margin: 50px;
    padding: 50px;
  }
  /* Footer */
  .element-cont {
    display: grid !important;
  }
  .element1 {
    grid-column-start: 1;
    grid-column-end: 2;
    width: min-content;
  }
  .element2 {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .element-group {
    display: block;
  }
  .element-group2 {
    display: none;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .menu-bar {
    justify-content: space-between;
  }
  /* header */

  .subHeader h2 {
    font-size: 42px;
  }
  .s-5 {
    padding: 100px;
  }
  .s-5 img {
    width: 350px;
  }

  .BT-wk > a {
    font-size: 18px;
  }
  .cont-service {
    justify-content: center;
  }

  /* Logo Menu-Bar */
  /* Logo */
  .logoS {
    left: 20px;
  }

  .logoS h1 {
    font-size: 50px;
  }

  /* End Link Menu */

  /*  ABOUT */
  .contAbout {
    width: 350px !important;
  }
  .AR-30 {
    font-size: 11px !important;
  }
  .AR-20 {
    margin: 120px 0 0 50px;
    width: 700px;
    font-size: 13.5px;
  }

  /* Avatar */

  .Mtop-50 {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  /* end About */

  /* Pag Service */
  .cont-service {
    flex-direction: column;
    gap: 100px;
  }
  /* End Pag Service */
  /* Pag-Project */

  .Project p {
    margin: 20px;
  }
  /* end project */

  /* End Service */

  /* Contact */

  #CT-2 {
    margin-left: 180px;
  }

  .C-16 {
    width: 170px;
    height: 150px;
  }

  .C-16 i {
    font-size: 30px;
    margin: 10px 0 10px 5px;
  }

  .C-16 h6 {
    font-size: 15px;
  }
  .C-16 p {
    font-size: 10px;
  }
  .inp-contact input,
  textarea,
  button {
    width: calc(100% - 300px);
  }
  /* End Contact */
  /* Footer */
  span p.p-1 {
    width: 450px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 895px) {
  /* .s-5 {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  } */
  /* .s-5 img {
    margin-top: 50px;
    width: 300px;
  } */
}
@media only screen and (min-width: 895px) {
  .s-5 {
    display: grid !important;
    grid-template-columns: repeat(2, auto) !important;
    align-items: center !important;
  }
}
@media only screen and (min-width: 895px) and (max-width: 1025px) {
  .subHeader h2 {
    font-size: 50px !important;
  }
}
@media only screen and (min-width: 1025px) {
  /* header */
  .s-5 {
    justify-content: unset !important;
  }
  .s-5 img {
    width: 500px;
  }
  .subHeader h2 {
    font-size: 75px;
  }
  .BT-wk > a {
    font-size: 20px;
  }

  .row {
    display: flex;
    flex-direction: row;
  }
  /* Logo Menu-Bar */
  /* Logo */

  .logoS h1 {
    font-size: 50px;
  }

  .logoS p {
    letter-spacing: 10px;
  }
  /* About */

  .AR-20 {
    margin: 120px 20px 0px 20px;
  }
  .cont-service {
    margin: 100px;
  }
  /* End About */
  /* avatar */
  .AR-30 {
    font-size: 15px !important;
  }

  /* Pag Project */
  .Project p {
    margin: 30px;
  }
  /* End Project */

  /* Link-menu */
  .US-10 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
  }
  .US-10 .A-10 a {
    position: relative;
    transform: 0.5s;
  }
  .US-10 .A-10 a {
    margin: 10px;
    padding: 7px;
  }
  /* End Link Menu */

  /* Contact */
  #CT-1 {
    display: -webkit-box;
    margin-left: 270px;
    margin-top: -250px;
  }
  .C-16 {
    width: 250px;
    height: 170px;
  }
  .C-16 h6 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1249px) {
  .menu-bar {
    justify-content: space-between;
  }

  /* Logo Menu-Bar */
  /* Logo */
  .logoS {
    left: 20px;
  }
  /*  ABOUT */
  .contAbout {
    width: 450px !important;
  }
  .AR-20 {
    width: 800px;
    font-size: 13.5px;
  }
  /* Header */
  .subHeader {
    width: auto;
  }
  /* Avatar */

  /* end About */

  /* Pag Service */
  .cont-service {
    margin-top: 200px;
    grid-template-columns: repeat(2, auto);
    gap: 170px;
  }
  .cont-fig {
    position: relative;
    width: 250px;
    height: 230px;
    top: -135px;
    left: 208;
    z-index: 0;
    left: 183px;
  }

  /* end service */

  /* Pag skills */
  .Project p {
    margin: 30px;
  }
  /* end project */

  /* pag Skills */

  .Skill-1 {
    gap: 20px;
  }
  /* end skill */

  /* Contact */

  #CT-2 {
    margin-left: 180px;
  }

  .inp-contact input,
  textarea,
  button {
    width: 265px;
  }
}

@media only screen and (min-width: 1250px) {
  /* Header */
  .s-5 img {
    width: unset;
  }
  .subHeader {
    width: 500px;
  }
  /* Menu */
  .menu-bar {
    left: 100px;
    position: sticky;
  }
  /* Link-menu */
  .NS-10 {
    left: 200px;
  }
  /* About */
  .contAbout {
    width: 500px;
  }
  .AR-20 {
    font-size: 15px;
  }

  section {
    overflow: hidden;
  }
  /* end About */
  /* Service */
  .cont-service {
    grid-template-columns: repeat(2, auto);
  }
  /* Contact */
  #CT-2 {
    margin-left: 370px;
  }
  .inp-contact input,
  textarea,
  button {
    width: 300px;
  }
}
